<html>
    <title>Searching</title>
    <head>Searching</head>
    <body>
        <div>
            <input type = 'textbox' id=searchString style='width:150px;'></input>
            <button type = 'button' onclick = search(true)>Search</button>
        </div><br>
        <div style='overflow:scroll; height:500px; width:400px; border: 1px solid'>
            <% result.forEach(user=>{%>
            <br><a href = '/users/<%=user%>'><%=user%></a><br>

        <%})%>
        </div>
        <button type = button style= 'position:absolute; top:30px; left:380px;' onclick = back()>Return</button>
    </body>
    <script src = '../Script.js'></script>
</html>
